h1.intro {
  font-family: monospace;
}

p.intro {
  font-style: italic;
  width: 75%;
}

p {
  max-width: 85%;
}

img.intro {
  width: 400px;
}

.conclusion {
  font-style: italic;
  font-weight: bold;
  width: 65%;
}
